/*
filename: [Tisang Lim]
author: [Tisang Lim]
created: [26/03/2025]
last modified: [27/03/2025]
description: [lab04]
*/
h1 {
    color: purple;
    font-size: 2em;
    font-weight: bold; 
}

* {
    font-family: Calibri, sans-serif;
}

* {
    color:  #2F4F4F;
}

h2 {
    color: rgb(0, 128, 128);
    font-size: 66%;
    font-weight: bold;
}

h1, h2, h3 {
    font-family: arial;
}

table, th, td, tr {
    border: 1px solid black;
}

#images {
    text-align: center;
}

#heading3 {
    color: red;
}

.special {
    color: darkorange;
    font-weight: bold;
}

.month {
    text-align: right;
}

nav a {
    text-decoration: none;
    padding: 0.2em 0.6em;
    border: 4px solid #ccc;
}

ul li {
    list-style-type: square;
}

aside:hover {
    visibility: hidden;
}

nav a:hover {
    border-color: darkblue;
    background-color: lightblue;
}